@import url("https://api.fontshare.com/v2/css?f[]=boska@900,500,400,700&f[]=satoshi@900,700,500,301,701,300,501,401,901,400&display=swap");

html {
  font-family: satoshi;
  &.lenis {
    height: auto;
  }

  scroll-behavior: smooth;
  color: "#2B2724";
}

.lenis {
  &.lenis-smooth {
    scroll-behavior: auto;

    [data-lenis-prevent] {
      overscroll-behavior: contain;
    }
  }

  &.lenis-scrolling {
    iframe {
      pointer-events: none;
    }
  }

  &.lenis-stopped {
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(43, 39, 36, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2b2724;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(78, 70, 65, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Newyork;
  src: url("/font/NewYork.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  font-weight: normal;
  src: url("/font/CircularStd-Book.otf") format("opentype");
  font-display: swap;
}
